.main-menu {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Jost', Verdana, Tahoma, sans-serif;
    font-size: 20px;
    height: 85px;
    width: 62%;
    margin-left: 270px;
    align-items: center;
}

.home,
.about,
.skills,
.contacts-menu,
.portfolio-menu {
    color: #828282;
    text-decoration: none;
}

.menu-link:hover {
    color: black;
    text-decoration: underline;
}

.flexcontainer1 {
    display: flex;
    justify-content: space-around;
    height: 189px;
    align-items: center;
    font-family: 'Jost', Verdana, Tahoma, sans-serif;
    font-size: 45px;
    width: 62%;
    margin-left: 270px;
}

.owner-data {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
}

.element {
    position: absolute;
    width: 940.6px;
    height: 0px;
    left: 270px;
    top: 87px;
    border: 1px solid #828282;
}

.picture {
    position: absolute;
    width: 943.61px;
    height: 387px;
    left: 270px;
    top: 276.94px;
}

.flexcontainer2 {
    display: flex;
    flex-direction: column;
    width: 62%;
    height: 300px;
    margin-left: 270px;
    margin-top: 620px;
    font-family: 'Jost', Verdana, Tahoma, sans-serif;
    font-size: 28px;
    align-content: space-between;
}

.about-me {
    text-align: center;
    margin-top: 40px;

}

.about-text {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
}

.flexcontainer3 {
    display: flex;
    flex-direction: column;
    width: 62%;
    height: 450px;
    margin-left: 270px;
    margin-top: 200px;
    align-items: center;
    flex-wrap: wrap;
}

.skills-header {
    font-family: 'Jost', Verdana, Tahoma, sans-serif;
    font-size: 34px;
    margin-top: 10px;
}

.skills-text {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.photoshop,
.illustrator,
.aftereffects,
.figma {
    padding-left: 30px;
}

.flexcontainer4 {
    display: flex;
    flex-direction: column;
    width: 62%;
    height: 2220px;
    margin-left: 270px;
    margin-top: 150px;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio {
    font-family: 'Jost', Verdana, Tahoma, sans-serif;
    font-size: 28px;
    margin-bottom: 60px;
}

.journal {
    margin-bottom: 100px;
}

.reebok {
    margin-bottom: 120px;
}

.portfolio-links:hover {
    color: violet;
}

.portfolio-links {
    display: flex;
    font-family: 'Jost', Verdana, Tahoma, sans-serif;
    font-size: 18px;
    color: #828282;
    margin-bottom: 30px;
}

.flexcontainer5 {
    display: flex;
    flex-direction: column;
    width: 62%;
    height: 260px;
    margin-left: 270px;
    margin-top: 100px;
    align-items: center;
    flex-wrap: wrap;
}

.contacts {
    font-family: 'Jost', Verdana, Tahoma, sans-serif;
    font-size: 28px;
    margin-bottom: 25px;
}

.welcome {
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 45px;
}

.flexcontainer6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 62%;
    height: 200px;
    margin-left: 270px;
    margin-top: 100px;
    flex-wrap: wrap;
}

.linkedin,
.instagram,
.be,
.ball {
    margin-right: 20px;
    padding-left: 30px;
}

#designer {
    color: indianred;
    font-weight: bolder;
}